{
  "endOfLine": "lf",
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "printWidth": 100,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "importOrder": [
    "^(crypto/(.*)$)|^(crypto$)",
    "",
    "^(cookie-parser/(.*)$)|^(cookie-parser$)",
    "^(cors/(.*)$)|^(cors$)",
    "^(dotenv/(.*)$)|^(dotenv$)",
    "^(express/(.*)$)|^(express$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/types/(.*)$",
    "^@/configs/(.*)$",
    "^@/controllers/(.*)$",
    "^@/database/(.*)$",
    "^@/middlewares/(.*)$",
    "^@/repositories/(.*)$",
    "^@/services/(.*)$",
    "^@/routes/(.*)$",
    "^@/utils/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
